*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: radial-gradient(#290367,#1f1013);
}

#container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*min-height: 100%; /* hauteur de page minimum */
  perspective: 800px;
  margin: 10px;
  gap: 15px;
  /*border: 2px solid red;*/
}

/* *************** titre de la page ***************** */
.big_title {
  color: aliceblue;
  font-size: 1.5rem;
  margin: 10px;
  text-align: center;
  margin-bottom: 20px;
  /*text-transform: capitalize;*/
  text-decoration: rgb(167, 85, 243) wavy underline; /* trait du titre */
  /*border: 2px solid rgb(39, 51, 217);*/
}

footer{
  color: aliceblue;
  text-align: center;
  text-transform:capitalize;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

main {
    margin: 0;
    /*height: 100vh;*/
    font-weight: 100; /* graisse typo */
    
    overflow-Y: hidden;
    overflow-Y: hidden;
    overflow-Y: hidden;
    overflow-y: hidden;
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 2px dashed green;*/
}

/* site web  */

.carte{
  position:relative;
  width: 280px;
  height: 450px;
  transition: transform 1.5s; /* temps de rotation */
  transform-style: preserve-3d;/* permet que le texte est dans le bon sens*/
  background: rgba(128, 128, 128, 0.739);
  border-radius: 20px;
  gap:20px 10px; /* écart entre les cartes */
  /*overflow: hidden;/* cache se qui dépasse */
  margin: 20px;
  /*border:solid 5px red;*/
}

.carte:hover{ 
  cursor: pointer; /* quand le curseur passe dessus */
  transform: rotateY(180deg) rotateZ(180deg);
}

/* L'avant et l'arrière de la carte */
.carte_avant,
.carte_arriere{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px rgba(22, 110, 198, 0.512);
  position: absolute;
  backface-visibility: hidden;
  /*border: solid 5px red;*/
}

/* *********************** Avant des cartes astro ***************************** */
.carte_titre img{
  height: 200px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.carte_texte{
  color:aliceblue;
  text-align: justify;
  margin: 10px;
}

.carte_texte h1{
  font-size: 40px;
  text-align: center;
  /*border: solid 3px rgb(180, 183, 6);*/
}

.carte_texte p{
  font-size: 16px;
  margin: 10px;
  /*border: solid 3px green;*/
}

/* *********************** Arrière des cartes astro ***************************** */
.carte_arriere{
  background-color: #a09898;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg) rotateZ(180deg);
  gap:5rem; /* écran entre le titre et le paragraphe */
  padding:10px;
  /*border: 2px solid red;*/
}

.carte_arriere p{
  width: 100%;
  height: 100%;
  color:aliceblue;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-align: justify;
  text-justify: auto;
  gap:0; /* écarte de gouttière entre les lignes et les colonnes */
  /*border: solid 5px orchid;*/
}
